/* stylelint-disable docusaurus/copyright-header */
/**
* Any CSS included here will be global. The classic template
* bundles Infima by default. Infima is a CSS framework designed to
* work well for content-centric websites.
*/

/* You can override the default Infima variables here. */


:root {
  --ifm-color-primary: rgb(3, 43, 64);
  --ifm-color-primary-dark: #1e7866;
  --ifm-color-primary-darker: #0f5a40;
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  
  --ifm-footer-background-color: rgb(3, 43, 64);
  --ifm-footer-title-color: #fff;
  --ifm-footer-link-color: #ebedf0;
  --ifm-footer-color: #ebedf0;
  
  --ifm-color-info: #6ecfef;
  --ifm-color-success: #26b226;
  --ifm-color-warning: #ffc426;
  --ifm-color-danger: #fb565b;

  --ifm-heading-margin-bottom: 0;
}

/* Hämtar font från https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Handwriting */
/* latin */
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v10/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cf5b6jlg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #4d4d4d;
  margin: .5em 0;
  font-size: 1.25rem;
  line-height: 1.4;
}

h1, h2, h3, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.admonition p {
  color: white;
}
.navbar .navbar__logo {
  height: 70%;
}

.navbar .navbar__title {
  padding-left: 10px;
  font-weight: 200;
  font-size: 24px;
}

.docusaurus-highlight-code-line {
  background-color: rgb(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgb(0, 0, 0, 0.3);
}

html[data-theme='dark'] { 
  background-color: #242526;
}

.footer__link-item:hover {
  color: var(--ifm-footer-link-color);
}

.copyright_style {
  font-style: italic;
  font-size: small;
  color: var(--ifm-footer-title-color);
}

